.navbar {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 15px;
  position: sticky;
  top:0;
}
.navbar li{
  list-style: none;
  text-decoration: none;
}
.navbar li a{
  text-decoration: none;
  font-size: 30px;
}

